<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="houtai.css" />

    </style>
</head>

<body>
    <div class="fruits">

        <select id="name">

				<option value="s1">请选择类别</option>
				<option value="s2">香蕉</option>
				<option value="s3">苹果</option>
				<option value="s4">橘子</option>
			</select> 简介: <input type="text" id="intro" value="" /> 价格: <input type="number" id="jiage" /> 图片: <input type="text" id="urls" placeholder="填写图片地址" />
        <button type="button" id="add">添加</button>
        <button type="button" id="ok">确认修改</button>
        <table>
            <thead>
                <tr>
                    <th>类别</th>
                    <th>简介</th>
                    <th>价格</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
<script src="/modules/jquery-3.3.1.js"></script>
<script src="houtai.js"></script>

</html>