.fruits {
    margin: 20px;
}

#ok {
    display: none;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

table th {
    border: 1px solid;
    width: 200px;
}

table td {
    border: 1px solid;
}

table img {
    width: 50px;
}